{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper" class="wrapper">
        <a href="/topic/create">Add topic</a>
    </div>


{% endblock %}

{% block stylesheets %}
<style>

</style>
{% endblock %}
